{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<div class="container" style="margin-top: 200px;">
    <!-- Filters Section -->
    <div class="row mb-5">

    <!-- Main Product List -->
    <div class="row">
        {% if categories %}
            {% for c in categories %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="{{ c.image.url }}" class="card-img-top" alt="{{ c.title }}">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">{{ c.title }}</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt.</p>
                        <div class="product-price mb-2">
                            {% if c.price %}
                                <span class="font-weight-bold">${{ c.price }}</span>
                            {% endif %}
                        </div>
                        <!-- <a href="#" class="btn btn-primary"><i class="fa fa-shopping-bag me-2"></i> Add to cart</a> -->
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No categories available.</p>
        {% endif %}
    </div>

</div>

{% endblock content %}
