{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<div class="container" style="margin-top: 200px;">
    <!-- Filters Section -->
    <div class="row mb-5">
        <div class="col-md-4">
            <div class="filter-group">
                <h3 class="text-center">Filter by Price</h3>
                <ul>
                    <li><input type="radio" id="price1" name="price" value="under50"> <label for="price1">Under $50</label></li>
                    <li><input type="radio" id="price2" name="price" value="50to100"> <label for="price2">$50 to $100</label></li>
                    <li><input type="radio" id="price3" name="price" value="above100"> <label for="price3">Above $100</label></li>
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="filter-group">
                <h3 class="text-center">Filter by Category</h3>
                <ul>
                    <li><input type="checkbox" id="category1" name="category" value="electronics"> <label for="category1">Electronics</label></li>
                    <li><input type="checkbox" id="category2" name="category" value="fashion"> <label for="category2">Fashion</label></li>
                    <li><input type="checkbox" id="category3" name="category" value="home"> <label for="category3">Home & Kitchen</label></li>
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="filter-group">
                <h3 class="text-center">Filter by Tags</h3>
                <ul>
                    <li><input type="checkbox" id="tag1" name="tag" value="new"> <label for="tag1">New Arrivals</label></li>
                    <li><input type="checkbox" id="tag2" name="tag" value="sale"> <label for="tag2">On Sale</label></li>
                    <li><input type="checkbox" id="tag3" name="tag" value="popular"> <label for="tag3">Most Popular</label></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Main Product List -->
    <div class="row">
        {% for p in products %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{ p.title }}</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt.</p>
                    <div class="product-price mb-2">
                        <span class="font-weight-bold">${{ p.price }}</span>
                    </div>
                    <a href="#" class="btn btn-primary"><i class="fa fa-shopping-bag me-2"></i> Add to cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock content %}
